@import "_mixins.scss";
@import "_variables.scss";
@font-face {
    font-family: "thin-flat";
    src: url(../fonts/Roboto-Thin.ttf);
}
@font-face{
    font-family: "serif_";
    src: url(../fonts/BodoniModa-Italic-VariableFont_opsz\,wght.ttf);
}
@font-face{
    font-family: "pfont";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

.background{
    @include background(120vh);
}

.grid-education {
    display: grid;
    grid-template-columns: 1fr 4fr;
    .logo-place{
        display: flex;
        height: 50vh;
        img{
            margin-top: 60px;            
            width: 150px;
            height: 150px;
        }
    }
    .description{
        margin-top: 30px;
        margin-left: 50px;
        .subheading{
            font-family: 'serif_';
            font-size: 30px;
            margin-bottom: 15px;
        }
        .wrapper{
            div{
                @include basicButton();
                margin-right: 20px;
                width: 150px;
                height: 30px;
                margin-bottom: 50px;

            }
        }
        .wrapper-projects{
            display: flex;
            margin-bottom: 20px;
            .imgHolder{
                img{
                    width: 80px;
                }
            }
            
            .projectHolder{
                margin-left: 40px;
                
                .language{
                    font-size: 20px;
                    font-family: 'pfont';
                    color: $defalutFont;
                    margin-bottom: 10px;
                }
                .project-description{
                    font-size: 18px;
                    font-family: 'regular';
                    color: $lightFont;

                }
            }
    
        }
    }
    
    
}